@media screen and (max-width: 700px) {
    .header {
      display: none;
      position: absolute;
      top: 3.7rem;
      left: 0;
      width: 100%;
      background-color: #fff;
      text-align: center;
    }

    .header .nav-list{
        flex-direction: column;
        justify-content: space-between;
        min-height: 30vh;
    }
  
    .header.responsive {
      display: flex;
      flex-direction: column;
    }

    .header .language-selector{
        justify-content: center;
        margin-top: 40px;
    }
  }
  