.root {
  background-image: url('../../siteImages/detail-bg.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 600px;
  padding-top: 1rem; 
  min-height: 10vh;
}

.avatar {
  width: 130px;
  height: 130px;
  font-size: 3rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space {
  margin-bottom: 2rem; 
  color: #4D4D4D;
}


.rightTitle {
  font-family: 'Clash Grotesk Medium';
  font-size: 32px;
  line-height: 90px;
  letter-spacing: 0;
  color: #0C3A25;
}

.bottomTitle {
  font-family: 'Clash Grotesk Medium';
  font-size: 24px;
  line-height: 60px;
  letter-spacing: 0;
  color: #0C3A25;
}

.btmTip {
  color: #0C3A25;
  font-weight: bold;
}

.post {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #DFF0D8;
  border-radius: 10px;
}

.mainText {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.whitePost {
  padding: 24px;
  margin-bottom: 32px;
  background-color: #FFFFFF;
  border-radius: 10px;
}


.title {
  font-family: 'Clash Grotesk Medium';
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
  color: #0C3A25;
  font-weight: bold;
}

.secondTitle {
  font-family: 'Clash Grotesk Medium';
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0px;
  color: #0C3A25;
  font-weight: bold;
}

.subTitle {
  font-family: 'Clash Grotesk Medium';
  font-size: 26px;
  line-height: 56px;
  letter-spacing: 0px;
  color: #0C3A25;
  font-weight: bold;
  margin-bottom: 24px; /* assuming theme.spacing(3) = 24px */
}

button.container {
  height: '25px',
}