@font-face {
  font-family: "ClashGrotesk";
  src: local("ClashGrotesk"),
    url("./ClashGrotesk_Complete/Fonts/Variable/ClashGrotesk-Variable.ttf")
      format("truetype");
  /* 
  Include font again */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "ClashGrotesk", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
